body{
  background: #212527;
  font-family: sans-serif;
  color:#F0F0F0;    
  font-size: 2vw;
}

ul.horizontal {
  font-size: 2vw;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #212527;
}

ul.horizontal li {
  float: left;
}

ul.horizontal li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 1vw 2vw;
  text-decoration: none;
}

ul.horizontal li a:hover:not(.active) {
  background-color: #000;
}

ul.horizontal li a.active {
  background-color:#003C78;
}

.fade-in-text {
  font-style: italic;
  color: #F0F0F0;
  animation: fadeIn ease-in 5s;
  -webkit-animation: fadeIn ease-in 5s;
  -moz-animation: fadeIn ease-in 5s;
  -o-animation: fadeIn ease-in 5s;
  -ms-animation: fadeIn ease-in 5s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
